%script $(document).ready(function(){$(".estado").click(function(){$(".regioes").toggle();});});
%script $(document).ready(function(){$(".pu_header").click(function(){$(".pus").toggle();});});
%script $(document).ready(function(){$(".mp_header").click(function(){$(".mps").toggle();});});
- cache [@estado.urs.count,@atu_ur.data,@atu_pu.data] do
 %div.links
  %a{:href => "/"} P&aacute;gina inicial
 %h1.estado{:align => 'center'}= @estado.nm_estado
 %div.regioes{:align => "center"}
  - @estado.regioes.each do |r|
   %div.regiao
    %a{:href => "/regiao/#{r.cd_geocme}"}= r.nm_meso
 %div{:clear => "both"}
 = render partial: 'dados', locals: {area: @estado}
