- cache [@estado.id,@estado.urs.count,@atu_ur.data,@atu_pu.data,cookies[:wme_url],cookies[:wme_language]] do
  %h3.text-center
    = @estado.nm_estado
    %small.dropdown
      %button.btn.btn-default.dropdown-toggle{'type' => "button", 'id' => "dropdownRegioes", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "true"}
        Região
        %span.caret
      %ul.dropdown-menu{ 'aria-labelledby' => "dropdownRegioes"}
        - @estado.regioes.order(:nm_meso).each do |r|
          %li
            %a{:href => "/regiao/#{r.cd_geocme}"}= r.nm_meso
  = render partial: 'dados', locals: {area: @estado}
