- cache [@mr.cd_geocmi,@mr.urs.count,@atu_ur.data,@atu_pu.data] do
  %h3.text-center
    %small= @mr.regiao.estado.nm_estado + ' / ' + @mr.regiao.nm_meso + ' / '
    = @mr.nm_micro
    %small.dropdown
      %button.btn.btn-default.dropdown-toggle{'type' => "button", 'id' => "dropdownCidade", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "true"}
        Município
        %span.caret
      %ul.dropdown-menu{ 'aria-labelledby' => "dropdownCidade"}
        - @mr.municipios.order(:nm_municip).each do |r|
          %li
            %a{:href => "/municipio/#{r.cd_geocmu}"}= r.nm_municip
  = render partial: 'dados', locals: {area: @mr}

