- cache [@regiao.cd_geocme,@regiao.urs.count,@atu_ur.data,@atu_pu.data,cookies[:wme_url],cookies[:wme_language]] do
  %h3.text-center
    %small= @regiao.estado.nm_estado + ' / '
    = @regiao.nm_meso
    %small.dropdown
      %button.btn.btn-default.dropdown-toggle{'type' => "button", 'id' => "dropdownMicro", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "true"}
        Microrregião
        %span.caret
      %ul.dropdown-menu{ 'aria-labelledby' => "dropdownMicro"}
        - @regiao.microrregioes.order(:nm_micro).each do |r|
          %li
            %a{:href => "/microrregiao/#{r.cd_geocmi}"}= r.nm_micro
  = render partial: 'dados', locals: {area: @regiao}
