@import "bootstrap-sprockets";
@import "bootstrap";
@import "mapa";
body { padding-top: 65px; }
a:visited { color: #AAA; }
footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #CCC;
}
