<!DOCTYPE html>
<html>
<head>
  <title>Waze Brasil - Painel de Controle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!--
<footer>
(c)2015 edulg72@gmail.com
</footer> -->
</body>
</html>
